<% provide(:title, "管理画面") %>

<h3>管理画面</h3>
<div class="container">
  <div class="col col-md-12 admin-menu">
    <table class="table">
      <tr>
        <td><%= link_to "担当者一覧", users_path %></td>
      </tr>
      <tr>
        <td><%= link_to "得意先一覧", customers_path %></td>
      </tr>
      <tr>
        <td><%= link_to "商品一覧", products_path %></td>
      </tr>
    </table>
  </div>
</div>
