<% provide(:title, "") %>

<div class="container container-top">
  <div class="col col-md-6 offset-3 login-top">
    <% unless user_signed_in? %>
      <div class="center jumbotron">
        <p>
          <i class="fas fa-cubes"></i>
          委託商品管理システム
        </p>
        <%= render 'users/sessions/new' %>
        <div class="admin-link"><%= link_to "", admin_session_path, class: "fas fa-user-cog fa-lg" %></div>
      </div>
    <% else %>
      <h1>ログイン中です。</h1>
    <% end %>
  </div>
</div>

<!--<= form_with(scope: :session, url: '#', local: true) do |f| %>-->
<!--  <= f.email_field :email, placeholder: "ユーザーID", class: "form-control" %>-->
  
<!--  <= f.password_field :password, placeholder: "パスワード", class: "form-control" %>-->
  
<!--  <= f.submit "ログイン", class: "btn btn-default form-control" %>-->

<!--  <= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>-->
<!--    <= f.check_box :remember_me, id: "remember-me" %>-->
<!--    <span>ログイン情報を記憶する</span>-->
<!--  < end %>-->
<!--< end %>-->