<% provide(:title, "") %>
<div class="container container-top">
  <div class="col col-md-6 col-md-offset-3 login-top">
    <div class="center jumbotron">
      <p>
        <i class="fas fa-cubes"></i>
        &nbsp;委託商品管理システム
      </p>
      <%= render 'users/sessions/new' %>
    </div>
  </div>
</div>
