@import "bootstrap";

/* 共通 */

* {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/*ウィンドウ幅が767px以上に適用*/
@media screen and (min-width: 767px) {
  #menu-bg {
    background-color: #12575f;
  }
}

/*ウィンドウ幅が最大767pxまでに適用*/
@media screen and (max-width: 767px) {
  #menu-bg {
    background-color: #FF0000; /*赤色*/
  }
}

 /*ウィンドウ幅が最大479pxまでに適用*/
@media screen and (max-width: 479px) {
  #menu-bg {
    background-color: #00FF00; /*緑色*/
  }
}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.header-menu {
  color: #fff;
}

.header-menu:hover {
  color: #fff;
  text-decoration: none;
}

.header-menu {
  margin-right: 10px;
}

.navbar-dark {
  background-color: #12575f;
}
