@import "bootstrap";

/* 共通 */
  
* {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body {
  background-color:  #f9f9f9;
}

table.main {
  border: solid 2px #e3e3e3;
  th {
    border: solid 1px #e3e3e3;
    background-color: #52c2d0;
    color: #fff;
  }
  th.main {
    text-align: left;
  }
  td {
    border: solid 2px #e3e3e3;
    background-color: #fff;
  }
  td.dotted-bottom {
    border-bottom: dotted #e3e3e3;
  }
  td.dotted-right {
    border-right: dotted #e3e3e3;
  }
  td.dotted-left {
    border-left: dotted #e3e3e3;
  }
  td.none-border {
    border-right: none;
    border-left: none;
  }
  tbody.sub, thead.sub {
    border: solid #c0c0c0;
    font-size: small;
  }
}

table.every {
  border: solid 1px #e3e3e3;
  th {
    border: solid 1px #e3e3e3;
    background-color: #52c2d0;
    opacity: .8;
    color: #fff;
  }
  th.every {
    background-color: #52c2d0;
    text-align: left;
    opacity: 1;
  }
  td {
    border: solid 1px #e3e3e3;
    background-color: #fff;
  }
  tbody.sub, thead.sub {
    // border: solid #c0c0c0;
    font-size: small;
  }
}

th.nowrap {
  white-space: nowrap;
}

td.nowrap {
  white-space: nowrap;
}

table.input-area {
  border: solid 3px #007bff;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid #007bff;
  
  margin: auto;
  margin-top: -16px;
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.font-small {
  font-size: small;
}

.font-xxsmall {
  font-size: xx-small;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  margin-top: 20px;
}

.btn-default {
  background-color: #52c2d0;
  color: #fff;
  transition: all 3.0s;
}

.btn-default:hover {
  background-color: #52c2d0;
  color: #fff;
}

.btn-default:focus {
  background-color: #52c2d0;
  color: #fff;
}

.btn-default:active {
  background-color: #52c2d0;
  color: #fff;
}

.btn-field {
  text-align: center;
  width: 100%;
}

.btn-item { 
  display: inline-block;
  width: 49%;
}

.list-style-none {
  list-style: none;
}

.notice {
  background-color: #5cb85c;
  color: #white;
  text-align: center;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.alert {
  background-color: #d9534f;
  color: #white;
  text-align: center;
}

.new_stamp{
  display: inline-block;
  width: 4px;
  height: 4px;
  text-align: center;
  vertical-align: top;
  line-height: 4px;
  border-radius: 50%;
  border: solid 1px #d9534f;
  background-color: #d9534f;
}

.update_stamp{
  display: inline-block;
  width: 4px;
  height: 4px;
  text-align: center;
  vertical-align: top;
  line-height: 4px;
  border-radius: 50%;
  border: solid 1px #5cb85c;
  background-color: #5cb85c;
}

.fa-trash-alt {
  color: #d9534f;
}

.minus {
  color: #d9534f;
}

.csv-export-form {
  margin-left: 5px;
  
  .btn {
    border-radius: 0;
  }
}

p.pc-display {
  margin-left: -4px;
}

.page-item.disabled .page-link {
    background-color: #f9f9f9;
}

/* 登録アイコン */

.fa-pulscircle {
  border: 0px none;
  outline:0;
}

.fa-plus-circle:hover {
  text-decoration: none;
}

.fa-puls-circle:visited {
  border: 0px none;
  outline:0;
}

/* 編集アイコン */

.fa-edit {
  border: 0px none;
  outline:0;
}

.fa-edit:hover {
  text-decoration: none;
}

.fa-edit:visited {
  border: 0px none;
  outline:0;
}

/* 削除アイコン */

.fa-times-circle {
  border: 0px none red;
  color: red;
  outline:0;
}

.fa-times-circle:hover {
  text-decoration: none;
}

.fa-times-circle:visited {
  border: 0px none;
  color: red;
  outline:0;
}

/* トップページ */

.jumbotron {
  p {
    text-align: left;
  }
  .form-control {
    margin-bottom: 20px;
  }
}

.login-top {
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.admin-link {
  margin-bottom: -20px;
  padding-top: 30px;
  text-align: right;
  .fa-user-cog, .fa-user {
    color: #52c2d0;
    text-decoration: none;
  }
}

/* ヘッダーレスポンシブ */

/* ウィンドウ幅が767px以上 */
@media screen and (min-width: 767px) {
  #menu-bg {
    background-color: #52c2d0;
  }
  #nav-drawer {
    display:none;
  }
  #logo {
  margin-left: 50px;
  font-size: 1.7em;
  color: #fff;
  }
  .table-responsive {
    display: table;
    width: 100%;
    overflow-x: auto;
  }
  .mobile-display {
    display: none;
  }
  .pc-width {
    width: 150px;
  }
}

/* ウィンドウ幅が最大767pxまで */
@media screen and (max-width: 767px) {
  #menu-bg {
    background-color: #52c2d0;
  }
  #logo {
  margin-left: 50px;
  font-size: 1.7em;
  color: #fff;
  }
  .header-top {
    margin-top: -45px;
  }
  .pc-display {
    display: none;
  }
  .table-responsive {
    display: table;
    width: 100%;
    overflow-x: auto;
  }
}

 /* ウィンドウ幅が最大479pxまで */
@media screen and (max-width: 479px) {
  #menu-bg {
    background-color: #52c2d0;
  }
  #logo {
  margin-left: 50px;
  font-size: 1.7em;
  color: #fff;
  }
  .header-top {
    margin-top: -45px;
  }
}

/* ヘッダー _header */

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.header-menu {
  color: #fff;
  margin-right: 10px;
}

.header-menu:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-dark {
  background-color: #12575f;
}

#nav-drawer {
  position: relative;
}

.pc-display {
  margin-left: 15px;
}

/* ヘッダードロップダウンメニュー */

#dropdown-setting {
  background-color: #52c2d0;
  color: #fff;
  border: transparent;
}

#dropdown-setting:focus {
  outline: 0;
}

.dropdown-item:focus {
  color: #000;
  background-color: #fff;
}

/* 管理者画面 */

.admin-menu {
  margin-top: 30px;
  text-align: center;
}

/* ユーザーメインページ users/show */
.user-menu {
  margin-top: 30px;
  text-align: center;
}

.modal-dialog-fluid {
  height: 70%;
}

.search-link-form {
  text-align: left;
}

.search-link {
  display: inline-block;
  margin: 0 10px 20px 0;
}

/* ユーザー一覧 users/index */

#table-usres {
  td {
    vertical-align: middle;
  }
}
 
.collapse {
  margin-bottom: 30px;
}

.btn-new-users {
  margin-left: -45px;
}


/* ユーザー情報編集画面 users/registrations/edit */

.user-edit-form {
  .label-user {
    margin-left: 5px;
  }
  .btn-user {
    margin-top: 40px;
  }
  .form-control {
    margin: -5px 0 20px 0;
  }
}

/* ウィンドウ幅が767px以上 */
@media screen and (min-width: 767px) {
  .edit-user_info {
    color: red;
  }
}

@media screen and (max-width: 767px) {
  
}

@media screen and (max-width: 479px) {
  
}

/* 委託新規登録,編集フォーム consignments/new edit */

.consignment-form {
  margin-top: 20px;
}

.consignment-form-btn {
  margin: 20px 0 -15px 2px;
}

.search-area {
  margin: 10px 0 -20px 0;
}

/* 委託新規登録モーダル内検索機能 */

.search-area input[type="text"] {
  padding: 5px 5px 3px;
  font-size: 16px;
  border: 1px solid #D6D6D6;
  background: #F9F9F9;
}

.search-area input[type="text"]:focus {
  background: #F9F9F9;
}

.search-result {
  margin-top: 20px;
}

.hit-num__text span {
  font-weight: bold;
}

#search-result__list {
  margin-top: 15px;
}

#search-result__list span {
  display: inline-block;
  margin-right: 15px;
  padding: 5px;
  background: #F2F2F2;
}

.target-area-customer ul {
  margin-top: 50px;
  list-style: none;
}
.target-area-customer .hidden {
  display: none
}

.target-area-product ul {
  margin-top: 50px;
  list-style: none;
}

.target-area-product .hidden {
  display: none
}


.search-table {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
.search-table .fixed-cell {
    display: table-cell;
    padding: 2px;
    border: 1px solid #dee2e6;
    width: 60px;
    text-align: center;
}
.search-table .variable-cell {
    display: table-cell;
    padding: 2px;
    border: 1px solid #dee2e6;
    text-align: center;
}

/* 委託詳細 consignments/show */

.btn-item-2 { 
  display: inline-block;
  width: 40%;
}

.btn-item-3 { 
  display: inline-block;
  width: 18%;
}

/* 商品一覧 products/index */

#table-products {
  td {
    vertical-align: middle;
  }
}

@media screen and (min-width: 767px) {
  .pc-width {
    width: 150px;
  }
  .btn-new-products {
    margin-left: -50px;
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 479px) {
  .btn-new-products {
    margin-left: -50px;
  }
}

@media screen and (max-width: 479px) {
  .btn-delete-products {
    margin-top: 2px;
  }
}

.hidden-btn {
  margin-left: 5px;
}

#csv {
  margin-left: 0.5px;
  margin-bottom: 5px;
}

/* 在庫登録,編集フォーム stocks/new edit */

.btn-stock {
  margin-top: 20px;
}

/* 得意先一覧 customers/index */

#table-customers {
  height: 100px;
  td {
    vertical-align: middle;
  }
}

// @media screen and (min-width: 767px) {
//   .pc-width {
//     width: 150px;
//   }
//   .btn-new-customers {
//     white-space: nowrap;
//   }
// }

// @media screen and (max-width: 767px) {

// }

// @media screen and (min-width: 479px) {
//   .btn-new-customers {
//     white-space: nowrap;
//   }
// }

// @media screen and (max-width: 479px) {
//   .btn-delete-customers {
//     margin-top: 2px;
//   }
// }

/* LINE通知フォーム posts/edit */

.edit-post {
  p {
    margin: 8px 0 0 0;
  }
}

.border-post {
  border: thin groove;
  margin: 30px 0 30px 0;
}

.reminder-post-text {
  margin: -10px 0 0 15px;
  white-space: pre-line;
  text-align: left;
}

/* ハンバーガーメニュー _hambuger_button */

.hamburger-menu {
  color: #fff;
}

.hamburger-title {
  list-style-type: none;
}

.hamburger-item {
  text-indent: 2em;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/* メニューの中身 */
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 330px;/*最大幅（お好みで調整を）*/
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

/* チェックがついたら表示させる */
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
 margin-top: 15px;
 display: flex;
 display: -moz-flex;
 display: -o-flex;
 display: -webkit-flex;
 display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}

/*ロゴやサイトタイトルをセンタリング*/
.logo-area{text-align:center;margin:auto;}

/* deviseエラーメッセージ */

#error_explanation {
  color: #d9534f;
  text-align: left;
}

.field_with_errors input {
  border: 2px solid #d9534f;
}

.field_with_errors select {
  border: 2px solid #d9534f;
}

.field_with_errors input:focus {
  border: 2px solid #d9534f;
}

.field_with_errors input:select {
  border: 2px solid #d9534f;
}

.field_with_errors .text_area {
  border: 2px solid #d9534f;
}

/*ページネーションデザイン*/
.pagination>li>a {
  background-color: #f9f9f9;
  border: none; /* 枠線 */
  color: #696969; /* 文字色 */
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  border-radius: 4px;
}

.page-item.active>.page-link {
  background-color: #52c2d0;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 4px;
}

/* フラッシュメッセージ */

.warning {
  background-color: #f0ad4e;
  color: #white;
  text-align: center;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* デバッグ */

.debug_dump {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #52c2d0;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
