<header class="navbar navbar-expand-md navbar-dark" id="menu-bg">
  <div class="container-fluid">
    <div><%= link_to "&nbsp;委託商品管理".html_safe, '#', id: "logo", class: "fas fa-cubes" %></div>
    <div class="header-list">
      <ul class="navbar-nav mr-autot">
        <li><%= link_to "&nbsp;ログアウト".html_safe, '#', class: "header-menu fas fa-sign-out-alt fa-pull-right" %></li>
      </ul>
    </div>
  </div>
</header>
