<header class="navbar navbar-expand-md navbar-dark" id="menu-bg">
  
  
  <div class="header-logo-menu">
    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content" class="nav navbar-light" style="background-color: #212529;">ここに中身を入れる</div>
    </div>
  </div>
  
  <div class="p-2 container-fluid header-top">
    <div><%= link_to "&nbsp;委託商品管理".html_safe, '#', id: "logo", class: "fas fa-cubes" %></div>
    <div class="header-list">
      <ul class="navbar-nav mr-autot">
        <li class="pc-logout"><%= link_to "&nbsp;ログアウト".html_safe, '#', class: "header-menu fas fa-sign-out-alt" %></li>
        <li class="mobile-logout"><%= link_to "&nbsp;".html_safe, '#', class: "header-menu fas fa-sign-out-alt" %></li>
      </ul>
    </div>
  </div>
  
  
</header>
